@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --theme-color: #0037ff;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Header */
.header {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.header .inner-logo img {
    max-height: 50px;
    max-width: 100%;
}

.header .inner-menu > ul {
    list-style : none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.header .inner-menu > ul > li {
    margin-left: 20px;
}
/* End Header */

/* Footer */
.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
/* End Footer */

/* Box-head */
.box-head {
    margin-bottom: 30px;
}

.box-head .inner-title {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
    color: green;
}
/* End Box-head */

/* Product-item */
.product-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.product-item .inner-image {
    width: 100%;
    aspect-ratio: 4/3;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.product-item .inner-featured {
    position: absolute;
    top: 0;
    right: 0;
    background: green;
    padding: 3px 6px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 8px;
}

.product-item .inner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-item .inner-content {
    padding: 15px;
}
.product-item .inner-content .inner-title {
    font-size: 20px;
    font-weight: 600;
}
.product-item .inner-content .inner-price-new {
    font-size: 18px;
    font-weight: 600;
    color: green;
}

.product-item .inner-content .inner-price-old {
    font-size: 18px;
    font-weight: 600;
    color: red;
    text-decoration: line-through;
}

.product-item .inner-content .inner-discount {
    font-size: 14px;
    font-weight: 600;
    color: white;
    background: red;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 8px;
}
/* End Product-item */

/* Sub-menu */
.sub-menu{
    position: relative;
    z-index: 999;
}

.sub-menu ul{
    position: absolute;
    right: 0;
    top: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #eae9e9;
    min-width: 180px;
    display: none;
}

.sub-menu ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.sub-menu:hover > ul {
    display: block;
}

.sub-menu ul li {
    position: relative;
}

.sub-menu ul li ul {
    right: 100%;
    top : 0;
}

.sub-menu ul li:hover > ul {
    display: block;
}

/* End Sub-menu */

/* product-detail */
.product-detail img {
    width: 100%;
    height: auto;
}

.product-detail .inner-title {
    font-size: 32px;
    margin-bottom: 15px;
}

.product-detail .inner-category {
    margin-bottom: 10px;
}

.product-detail .inner-price-new {
    color: green;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
}

.product-detail .inner-price-old {
    color: red;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
    text-decoration: line-through;
}


/* End product-detail */

/* Notification */
.message.info #alert{
    display: flex;
    border: 2px solid #ddd;
    width: 330px;
    right: 100px;
    top: 0;
    position: absolute;
    padding: 10px 0;
    animation: nonealert;
}

@keyframes nonealert {
    
}

.message.info .x {
    margin: 0 15px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    background:yellowgreen;
    align-items: center;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}

.message.info [show-alert] {
    font-size: 17px;
    font-weight: 700;
    margin-left: 25px;
}

.message.info #alert::after{
    content: '';
    width: 100%;
    position: absolute;
    height: 3px;
    top: 95%;
    animation: anima 5s linear forwards;
    background: orange;
}

@keyframes anima {
    100%{
        width: 0;
    }
}

.message.info .old-class.hidden-alert{
    display: none !important;
}
/* End Notification */

/* Login */
.page-auth {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1.5rem;
}

.page-auth::after {
    content: '';
    position:fixed;
    inset: 0;
    background-color: var(--theme-color);
    width: 60%;
    height: 100vh;
    clip-path: polygon(0 100%, 0 0, 100% 0, 70% 100%);
    z-index: -1
}

.auth-card {
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 10px 50px -30px black;
    width: 1200px;
    border-radius: 30px;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto auto;   
}

.auth-card a {
    text-decoration: none;
    color: var(--theme-color);

}

.auth-card .column {
    padding: 4rem;

}

.auth-card .column:last-child {
    background-image: url(../images/anhnen2.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    text-align: center;
}

.auth-card .column:last-child::after {
    content: "";
    position: absolute;
    inset: 0
}

.auth-card .column:last-child *{
    z-index: 1;
}

.auth-card .column:last-child a {
    display: inline-block;
    padding: 12px 30px;
    font-size: 16px;
    border: 2px solid var(--theme-color);
    color: black;
    border-radius: 58px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 600;
}

.auth-card .column:last-child a:hover {
    background-color: var(--theme-color);
    color: white;
}

.auth-card form {
    margin-top: 3rem;
}

.auth-card form>* {
    margin-top: 1rem;
}

.auth-card form button {
    background-color: var(--theme-color);
    color: white;
    border: none;
    padding: 20px 40px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    transition: all 0.2s;
}

.auth-card form button:active {
    scale: .95;
}

.auth-card h1 {
    margin-bottom: 15px;
}

.auth-card .form-element {
    width: 100%;
    border: none;
    background-color: #f1f1f1;
    padding: 20px 30px;
    font-size: 18px;
    border-radius: 50px;
    transition: box-shadow 0.2s;
}

.auth-card .form-element:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--theme-color);
}

.flex-auth {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-buttons {
    display: flex;
    gap: 1rem
}

.social-buttons a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 22px;
    color: white;
    transition: scale;
}

.social-buttons a.facebook {
    background-color: #3b5998;
}

.social-buttons a.twitter {
    background-color: #55acee;
}

.social-buttons a.github {
    background-color: #111;
}

.social-buttons a:hover {
    scale: .95;
}

/* End Login */

/* Chat-Box */
.chatbot {
    background: #fff;
    position: relative;
    width: 420px;
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 1), 
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.chatbot header {
    background: #724ae8;
    padding: 16px 0;
    text-align: center;
}

.chatbot header h2 {
    color: #fff;
    font-size: 1.4rem;
}

.chatbot .chatbox {
    height: 510px;
    overflow-y: auto;
    padding: 30px 20px 70px;
}

.chatbox .chat {
    display: flex;
}

.chatbox .incoming span {
    height: 32px;
    width: 32px;
    color: #fff;
    background: #724ae8;
    text-align: center;
    line-height: 32px;
    border-radius: 4px;
    margin: 0 10px 23px 0;
    align-self: flex-end;
}

.chatbox .outgoing {
    margin: 20px 0;
    justify-content: flex-end;
}
.chatbox .chat p {
    padding: 12px 16px;
    color: #fff;
    border-radius: 10px 10px 0 10px;
    background: #724ae8;
}

.chatbox .incoming p {
    color: #000;
    background: #f2f2f2;
    border-radius: 10px 10px 10px 0;
}

.chatbot .chat-input form {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 5px;
    background: #fff;
    padding: 5px 20px;
    border-top: 1px solid #ccc;
}

.chat-input input {
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 0.95rem;
    resize: none;
    padding: 16px 15px 16px 0;
}

.chat-input button {
    color: #724ae8;
    align-self: flex-end;
    height: 55px;
    line-height: 55px;
    font-size: 1.35rem;
    cursor: pointer;
    visibility: hidden;
    outline: none;
    border: none;
    background: #fff;
}

.chat-input input:valid ~ button {
    visibility: visible;
}
/* End Chat-Box */

